/* 
  CSS Module for fonts
  This works in both Web and Nextron environments
*/

@font-face {
  font-family: 'Pacifico';
  src: url('/resources/Pacifico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 